@model PagedList.IPagedList<FireTest.Models.SubjectAccess>
@using PagedList.Mvc;
@using (Ajax.BeginForm("TeacherSubjectsAjax", new AjaxOptions
{
    HttpMethod = "Get",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "Subjects",
}))
{
    @Html.Hidden("Page", (int)ViewBag.Page)
    @Html.Hidden("userId", (string)ViewBag.userId)
    @Html.Hidden("searchString", (string)ViewBag.CurrentFilter)
    <div class="right">
        <button type="submit" value="true" name="submitButtonAll" class="button-Cancel">Выбрать все дисциплины</button>
    </div>
    <div>
        Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("TeacherSubjectsAjax",
            new { page, currentFilter = ViewBag.CurrentFilter, userId = (string)ViewBag.userId }),
            PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "Subjects" }))
    </div>
    <div class="row">
        <table>
            <tr>
                <th>
                    Название дисциплины                
                </th>
                <th>
                    Имеет доступ
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td class="center" width="15%">
                        @if (item.Access == true)
                        {
                            <div class="Yes">
                                <button type="submit" value="@item.Id" name="submitButton"></button>
                            </div>
                        }
                        else
                        {
                            <div class="No">
                                <button type="submit" value="@item.Id" name="submitButton"></button>
                            </div>
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
    <div>
        Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("TeacherSubjectsAjax",
            new { page, currentFilter = ViewBag.CurrentFilter, userId = (string)ViewBag.userId }),
            PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "Subjects" }))
    </div>
}