@model PagedList.IPagedList<FireTest.Models.UsersForAdmin>
@using PagedList.Mvc;
@using (Ajax.BeginForm("UsersAjax", new AjaxOptions
{
    HttpMethod = "Get",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "Users",
}))
{
    @Html.Hidden("Page", (int)ViewBag.Page)
    <div class="row">
        <table>
            <tr>
                <th>
                    Фото
                </th>
                <th>
                    Имя
                </th>
                <th>
                    Учитель
                </th>
                <th>
                    Администратор
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="center">
                        <img class="avatar-mini" src="~/Images/Avatars/@Html.DisplayFor(modelItem => item.Avatar)" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td class="center">
                        @if (item.Administrator != true)
                        {
                            if (item.Teacher == true)
                            {
                                <div class="Yes">
                                    <button type="submit" value="Teacher|@item.Id|false" name="submitButton"></button>
                                </div>
                            }
                            else
                            {
                                <div class="No">
                                    <button type="submit" value="Teacher|@item.Id|true" name="submitButton"></button>
                                </div>
                            }
                        }
                    </td>
                    <td class="center">
                        @if (item.Administrator == true)
                        {
                            <div class="Yes">
                                <button type="submit" value="Administrator|@item.Id|false" name="submitButton"></button>
                            </div>
                        }
                        else
                        {
                            <div class="No">
                                <button type="submit" value="Administrator|@item.Id|true" name="submitButton"></button>
                            </div>
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
    <div>
        Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("UsersAjax",
    new { page, currentFilter = ViewBag.CurrentFilter }),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "Users" }))
    </div>
}