@model FireTest.Models.ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_Login.cshtml";
    ViewBag.Title = "Забыли пароль?";
}
<div class="login">
    Введите адрес электронной почты.
    <hr />
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="col-4">
            @Html.LabelFor(m => m.Snils, new { @class = "right" })
        </div>
        <div class="col-8">
            @Html.TextBoxFor(m => m.Snils)
            @Html.ValidationMessageFor(m => m.Snils, "", new { @class = "text-danger" })
        </div>
        <div class="row center">
            <input type="submit" value="Отправка ссылки по электронной почте" class="button" />
        </div>
    }
</div>
@section Scripts {
    <script type="text/javascript">
    $("#Snils").inputmask("999-999-999 99");
    $("#Snils").focus();
    </script>
}