@model FireTest.Models.ResetPasswordViewModel
@{
    Layout = "~/Views/Shared/_Login.cshtml";
    ViewBag.Title = "Сброс пароля";
}
<div class="row top">
    <div class="col-offset-3 col-6">
        <div class="login">
            Сброс пароля.
            <hr />
            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Code)
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="row">
                    <div class="col-5">
                        <label class="right" for="Snils"><span class="snils-help">?<span class="tooltiptext"><img src="~/Content/snils.jpg" /></span></span>СНИЛС</label>
                    </div>
                    <div class="col-7">
                        @Html.TextBoxFor(m => m.Snils)
                        @Html.ValidationMessageFor(m => m.Snils, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        @Html.LabelFor(m => m.Password, new { @class = "right" })
                    </div>
                    <div class="col-7">
                        @Html.PasswordFor(m => m.Password)
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "right" })
                    </div>
                    <div class="col-7">
                        @Html.PasswordFor(m => m.ConfirmPassword)
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row center">
                    <input type="submit" value="Сброс" class="button" />
                </div>
            }
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
    $("#Snils").inputmask("999-999-999 99");
    $("#Snils").focus();
    </script>
}