<div class="row">
    <div class="textback">Сравнение соотношения правильных ответов между курсами @ViewBag.Course1 и @ViewBag.Course2</div>
</div>
<script>
    var options = {
        responsive: true,
        legend: {
            display: false
        },
        tooltips: {
            enabled: true
        },
        scales: {
            xAxes: [{
                gridLines: {
                    display: false,
                },
                ticks: {
                    fontColor: "rgb(255, 115, 0)",
                },
            }],
            yAxes: [{
                gridLines: {
                    color: "rgb(196, 189, 151)",
                    zeroLineColor: "rgb(196, 189, 151)"
                },
                ticks: {
                    fontColor: "rgb(255, 115, 0)",
                },
            }],
        }
    };
    var data = {
        labels: ["Всего ответов курса @ViewBag.Course1", "Правильных ответов курса @ViewBag.Course1", "Всего ответов курса  @ViewBag.Course2", "Правильных ответов курса @ViewBag.Course2"],
        datasets: [
            {
                label: " ",
                backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(54, 162, 235)',
                    'rgb(255, 206, 86)',
                    'rgb(75, 192, 192)',
                ],
                borderColor: [
                    'rgb(255, 99, 132)',
                    'rgb(54, 162, 235)',
                    'rgb(255, 206, 86)',
                    'rgb(75, 192, 192)',
                ],
                borderWidth: 1,
                data: [@ViewBag.Answers1, @ViewBag.AnswersCorrect1, @ViewBag.Answers2, @ViewBag.AnswersCorrect2],
            }
        ]
    };
    var ctx = document.getElementById("chart");
    var myBarChart = new Chart(ctx, {
        type: 'bar',
        data: data,
        options: options
    });
</script>
<div class="row centerChart">
    <canvas id="chart" />
</div>