<div class="row">
    <div class="col-4">Выберите период</div>
    <div class="col-8">
        @Html.DropDownList("DateRange", ViewBag.DateRange as SelectList, new { @onchange = "$(this.form).submit();" })
    </div>
</div>
<script>
    var options = {
        responsive: true,
        legend: {
            display: true,
            labels: {
                fontColor: 'rgb(196, 189, 151)'
            }
        },
        tooltips: {
            enabled: true
        },
        scales: {
            xAxes: [{
                gridLines: {
                    display: false,
                },
                ticks: {
                    fontColor: "rgb(255, 115, 0)",
                },
            }],
            yAxes: [{
                gridLines: {
                    color: "rgb(196, 189, 151)",
                    zeroLineColor: "rgb(196, 189, 151)"
                },
                ticks: {
                    fontColor: "rgb(255, 115, 0)",
                    beginAtZero: true,
                    callback: function (value, index, values) {
                        if (Math.floor(value) === value) {
                            return value;
                        }
                    }
                },
            }],
        }
    };
    var dataQ = {
        labels: [@Html.Raw(ViewBag.osXQ)],
        datasets: [
            {
                label: "Курс @ViewBag.TitleChart",
                fill: false,
                lineTension: 0.1,
                borderColor: "rgb(255, 115, 0)",
                borderCapStyle: 'butt',
                borderDash: [],
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "rgb(196, 189, 151)",
                pointBackgroundColor: "rgb(196, 189, 151)",
                pointBorderWidth: 1,
                pointRadius: 1,
                pointHitRadius: 10,
                data: [@ViewBag.osYQ]
            }
        ]
    };
    var dataD = {
        labels: [@Html.Raw(ViewBag.osXD)],
        datasets: [
            {
                label: "Курс @ViewBag.TitleChart",
                fill: false,
                lineTension: 0.1,
                borderColor: "rgb(255, 115, 0)",
                borderCapStyle: 'butt',
                borderDash: [],
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "rgb(196, 189, 151)",
                pointBackgroundColor: "rgb(196, 189, 151)",
                pointBorderWidth: 1,
                pointRadius: 1,
                pointHitRadius: 10,
                data: [@ViewBag.osYD]
            }
        ]
    };
    var ctxLineQ = document.getElementById("lineChartQ").getContext("2d");
    var myLineChartQ = Chart.Line(ctxLineQ, {
        data: dataQ,
        options: options
    });
    var ctxLineD = document.getElementById("lineChartD").getContext("2d");
    var myLineChartD = Chart.Line(ctxLineD, {
        data: dataD,
        options: options
    });
</script>
<div class="row">
    <div class="textback">Сколько человек из @ViewBag.TitleChart курса проходили тесты по уровням подготовки</div>
</div>
<div class="row centerChart">
    <canvas id="lineChartQ" />
</div>
<div class="row">
    <div class="textback">Сколько человек из @ViewBag.TitleChart курса проходили тесты по отдельным дисциплинам</div>
</div>
<div class="row centerChart">
    <canvas id="lineChartD" />
</div>