@model PagedList.IPagedList<FireTest.Models.SubjectAccess>
@using PagedList.Mvc;
@using (Ajax.BeginForm("CreateTestFinishAjax", new AjaxOptions
{
    HttpMethod = "Get",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "Questions",
}))
{
    @Html.Hidden("page", (int)ViewBag.page)
    <div class="row">
        <div class="col-2">Название теста</div>
        <div class="col-10">
            <input name="NameTest" type="text" class="input" value="@ViewBag.NameTest">
            <button type="submit" class="save">Сохранить</button>
        </div>
    </div>
    <div class="row">
        <div class="col-2">Дисциплина</div>
        <div class="col-10">
            @Html.DropDownList("Subjects", ViewBag.Subjects as SelectList, new { @onchange = "$(this.form).submit();" })
        </div>
    </div>
    <div class="row">
        <div class="col-2">Название раздела</div>
        <div class="col-10">
            @Html.DropDownList("Tags", ViewBag.Tags as SelectList, new { @onchange = "$(this.form).submit();" })
        </div>
    </div>
    <div class="row">
        <div class="center textback">Укажите минимальный процент для получения оценки</div>
        <br />
        <div class="col-1 left">
            Для 5
        </div>
        <div class="col-2">
            <input name="Eval" type="text" class="input" value="@ViewBag.Eval5">
        </div>
        <div class="col-1 left">
            &nbsp;&nbsp;Для 4
        </div>
        <div class="col-2">
            <input name="Eval" type="text" class="input" value="@ViewBag.Eval4">
        </div>
        <div class="col-1 left">
            &nbsp;&nbsp;Для 3
        </div>
        <div class="col-2">
            <input name="Eval" type="text" class="input" value="@ViewBag.Eval3">
        </div>
        <div class="col-3">
            <button type="submit" class="saveEval">Сохранить % оценок</button>
        </div>
    </div>
    <div class="row">
        Поиск<span class="search"></span><input id="SearchString" name="SearchString" type="text" value="@ViewBag.CurrentFilter" />
    </div>
    <div>
        Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("CreateTestFinishAjax",
        new { page, currentFilter = ViewBag.CurrentFilter, Tags = Session["Tags"], Subjects = Session["Subjects"] }),
        PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "Questions" }))
    </div>
    <div class="row" id="question">
        <table>
            <tr>
                <th>
                    Вопросы
                </th>
                <th>
                    В тесте?
                </th>
            </tr>

            @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td class="center" width="15%">
                        @if (item.Access == true)
                        {
                            <div class="Yes">
                                <button type="submit" value="@item.Id" name="submitButton"></button>
                            </div>
                        }
                        else
                        {
                            <div class="No">
                                <button type="submit" value="@item.Id" name="submitButton"></button>
                            </div>
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
    <div>
        Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("CreateTestFinishAjax",
        new { page, currentFilter = ViewBag.CurrentFilter, Tags = Session["Tags"], Subjects = Session["Subjects"] }),
        PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "Questions" }))
    </div>
    <script>
        MathJax.Hub.Queue(['Typeset', MathJax.Hub, 'question']);
        (function ($) {
            $.fn.setCursorToTextEnd = function () {
                var $initialVal = this.val();
                this.val($initialVal);
            };
        })(jQuery);
        $('#SearchString').focus();
        $('#SearchString').setCursorToTextEnd();
        $('#SearchString').keyup(function () {
            $(this.form).submit();
        });
    </script>
}