@model PagedList.IPagedList<FireTest.Models.TestFinishAccess>
@using PagedList.Mvc;
@using (Ajax.BeginForm("CreateTestFinishAjax", new AjaxOptions
{
    HttpMethod = "Get",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "Questions",
}))
{
    <div class="row">
        @Html.Raw(ViewBag.Count250)
    </div>
    @Html.Hidden("page", (int)ViewBag.page)
    @Html.Hidden("currentFilter", (string)ViewBag.CurrentFilter)
    <div>
        Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("CreateTestFinishAjax",
                            new { page, currentFilter = ViewBag.CurrentFilter, Tags = Session["Tags"], Subjects = Session["Subjects"] }),
                            PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "Questions" }))
    </div>
    <div class="row" id="Questions">
        <table>
            <tr>
                <th>
                    Вопросы
                </th>
                <th>
                    Дисциплина /<br><span style="color:rgb(255, 115, 0);">уровень подготовки</span>
                </th>
                <th>
                    Год обучения
                </th>
                <th>
                    В тесте?
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @Html.Raw(@item.Subject)
                    </td>
                    <td>
                        @item.Course
                    </td>
                    <td class="center" width="15%">
                        @if (item.Access == true)
                        {
                            <div class="Yes">
                                <button type="submit" value="@item.Id" name="submitButton"></button>
                            </div>
                        }
                        else
                        {
                            <div class="No">
                                <button type="submit" value="@item.Id" name="submitButton"></button>
                            </div>
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
    <div>
        Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("CreateTestFinishAjax",
                            new { page, currentFilter = ViewBag.CurrentFilter, Tags = Session["Tags"], Subjects = Session["Subjects"] }),
                            PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "Questions" }))
    </div>
    <script>
        MathJax.Hub.Queue(['Typeset', MathJax.Hub, 'question']);
    </script>
}