@model FireTest.Models.TeacherTestDetails
@{
    ViewBag.Title = "Редактировать тест";
}
@Styles.Render("~/Content/administrator")

@using (Ajax.BeginForm("EditOldAjax", new AjaxOptions
{
    HttpMethod = "Get",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "QuestionsOld",
}))
{
    <div class="row">
        <div class="col-2">Название теста</div>
        <div class="col-10">
            <input name="NameTest" type="text" class="input" id="NameTest" value="@Model.NameTest">
            <button type="submit" class="save">Сохранить</button>
        </div>
    </div>
    <div class="row">
        <div class="center textback">Укажите минимальный процент для получения оценки</div>
        <br />
        <div class="col-1 left">
            Для 5
        </div>
        <div class="col-2">
            <input name="Eval" type="text" class="input" value="@ViewBag.Eval5">
        </div>
        <div class="col-1 left">
            &nbsp;&nbsp;Для 4
        </div>
        <div class="col-2">
            <input name="Eval" type="text" class="input" value="@ViewBag.Eval4">
        </div>
        <div class="col-1 left">
            &nbsp;&nbsp;Для 3
        </div>
        <div class="col-2">
            <input name="Eval" type="text" class="input" value="@ViewBag.Eval3">
        </div>
        <div class="col-3">
            <button type="submit" class="saveEval">Сохранить % оценок</button>
        </div>
    </div>
    <div class="row">
        <div class="textback center">Вопросы в тесте</div>
    </div>
    <div class="row">
        <div class="col-2">Поиск</div>
        <div class="col-10">
            <input name="SearchStringOld" type="text" oninput="$(this.form).submit();">
        </div>
    </div>
}
<div id="QuestionsOld">
    @{ Html.RenderAction("EditOldAjax", new { Page = 1 }); }
</div>

@using (Ajax.BeginForm("EditNewAjax", new AjaxOptions
{
    HttpMethod = "Get",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "QuestionsNew",
}))
{
    <div class="row">
        <div class="textback center">Остальные вопросы</div>
    </div>
    <br />
    <div class="row">
        <div class="col-2">Дисциплина</div>
        <div class="col-10">
            @Html.DropDownList("Subjects", ViewBag.Subjects as SelectList, new { @onchange = "$(this.form).submit();" })
        </div>
    </div>
    <div class="row">
        <div class="col-2">Название раздела</div>
        <div class="col-10">
            @Html.DropDownList("Tags", ViewBag.Tags as SelectList, new { @onchange = "$(this.form).submit();" })
        </div>
    </div>
    <div class="row">
        <div class="col-2">Поиск</div>
        <div class="col-10">
            <input name="SearchStringNew" type="text" oninput="$(this.form).submit();">
        </div>
    </div>
}
<div id="QuestionsNew">
    @{ Html.RenderAction("EditNewAjax", new { Page = 1 }); }
</div>
<div class="row center">
    @Html.ActionLink("На главную", "Index", null, new { @class = "button-Cancel" })
</div>