@model PagedList.IPagedList<FireTest.Models.SubjectsAndQualification>
@using PagedList.Mvc;
@using (Ajax.BeginForm("EditQuestionSelectAjax", new AjaxOptions
{
    HttpMethod = "Get",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "Questions",
}))
{
    @Html.Hidden("currentFilter", (string)ViewBag.CurrentFilter)
    <div>
        Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("EditQuestionSelectAjax",
            new { page, currentFilter = ViewBag.CurrentFilter, Tags = Session["Tags"], Subjects = Session["Subjects"] }),
            PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "Questions" }))
    </div>
    <div class="row" id="question">
        <table>
            <tr>
                <th>
                    Вопросы
                </th>
                <th>
                </th>
                <th>
                </th>
                @if (ViewBag.Access == true)
                {
                    <th>
                    </th>
                }
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td class="center" width="15%">
                        <span>Сколько раз был задан - @item.Count, отвечен верно - @item.CountCorrect</span>
                    </td>
                    <td class="center" width="15%">
                        <a href="EditQuestion/@item.Id">Редактировать</a>
                    </td>
                    @if (ViewBag.Access == true)
                    {
                        if (item.Qualification != 0)
                        {
                            <td class="center" width="15%">
                                Уровень подготовки: <span class="qualification-color">@item.QualificationName</span>
                                <hr />
                                <a href="QuestionQualification/@item.Id">Убрать</a>
                            </td>
                        }
                        else
                        {
                            <td class="center" width="15%">
                                Уровень подготовки: <span class="qualification-color">нет</span>
                                <hr />
                                <a href="QuestionQualification/@item.Id">Добавить</a>
                            </td>
                        }
                    }
                </tr>
            }
        </table>
    </div>
    <div>
        Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("EditQuestionSelectAjax",
            new { page, currentFilter = ViewBag.CurrentFilter, Tags = Session["Tags"], Subjects = Session["Subjects"] }),
            PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "Questions" }))
    </div>
    <script>
        MathJax.Hub.Queue(['Typeset', MathJax.Hub, 'question']);
        $('#Tags').empty();
        $('#Tags').append('@Html.Raw(ViewBag.Tags)');
        $('#Tags').trigger("chosen:updated");
    </script>
}