@model FireTest.Models.ViewEditQuestion
@{
    ViewBag.Title = "Добавить вопрос";
}
@Styles.Render("~/Content/administrator")
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p class="text-success">@ViewBag.StatusMessage</p>
    <div class="row center">
        <h4>Добавить вопрос</h4>
        <br>
        <div class="row">
            <div class="col-2">
                Кафедра
            </div>
            <div class="col-10">
                @Html.DropDownList("Departments", ViewBag.Departments as SelectList)
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                Дисциплина
            </div>
            <div class="col-10">
                @Html.DropDownList("Subjects", ViewBag.Subjects as SelectList)
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                Курс
            </div>
            <div class="col-10">
                @Html.DropDownList("Courses", ViewBag.Courses as SelectList)
            </div>
        </div>
        @Html.ValidationMessageFor(model => model.QuestionText, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-2">
                Текст вопроса
            </div>
            <div class="col-10">
                @Html.TextAreaFor(model => model.QuestionText, 5, 20, null)
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                Раздел
            </div>
            <div class="col-10">
                @Html.TextAreaFor(model => model.Tag)
            </div>
        </div>
        @if (ViewBag.Type == 1)
        {
            <div class="type-content">
                <div class="row">
                    <div class="row text-center">
                        <div class="col-2">
                            № п/п
                        </div>
                        <div class="col-8">
                            Текст ответов
                        </div>
                        <div>
                            Правильный
                        </div>
                    </div>
                    @{
                        int count = 0;
                        foreach (var item in Model.Answers)
                        {
                            <div class="row">
                                <div class="col-2">
                                    <b>@(count++)</b>
                                </div>
                                <div class="col-8">
                                    @Html.TextAreaFor(model => item.AnswerText)
                                </div>
                                <div class="col-2 correct">
                                    @if (Model != null && Model.AnswersCorrects != null && Model.AnswersCorrects.Contains(count - 1))
                                    {
                                        <input id="@item.Id" type="checkbox" name="AnswersCorrects" value="@item.Id" checked="checked" />
                                    }
                                    else
                                    {
                                        <input id="@item.Id" type="checkbox" name="AnswersCorrects" value="@item.Id" />
                                    }
                                    <label for="@item.Id"></label>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        }      
        @if (ViewBag.Type == 2)
        {
            <input id="type-tab-2" name="Type" type="radio" checked="checked" class="type-radio" value="2" />
        }
        else
        {
            <input id="type-tab-2" name="Type" type="radio" class="type-radio" value="2" />
        }
        <div class="type-content">
            <p class="text-success">@ViewBag.Error</p>
            <div class="row">
                <div class="textback">
                    Расположите ответы в правильном порядке
                </div>
                @for (int i = 0; i < 8; i++)
                {
                    <div class="row">
                        @if (ViewBag.Answers != null && ViewBag.Answers[i] != null)
                        {
                            <textarea cols="20" id="AnswersSequence[@i]" name="AnswersSequence[@i]" rows="2">@ViewBag.Answers[i]</textarea>
                        }
                        else
                        {
                            <textarea cols="20" id="AnswersSequence[@i]" name="AnswersSequence[@i]" rows="2"></textarea>
                        }
                    </div>
                }
            </div>
        </div>
        @if (ViewBag.Type == 3)
        {
            <input id="type-tab-3" name="Type" type="radio" checked="checked" class="type-radio" value="3" />
        }
        else
        {
            <input id="type-tab-3" name="Type" type="radio" class="type-radio" value="3" />
        }
        <div class="type-content">
            <p class="text-success">@ViewBag.Error</p>
            <div class="textback">
                Расположите ответы в правильном порядке по парам
            </div>
            <div class="row">
                @for (int i = 0; i < 4; i++)
                {
                    <div class="col-5">
                        <div class="row">
                            @if (ViewBag.Answers != null && ViewBag.Answers[i] != null)
                            {
                                <textarea cols="20" id="AnswersConformity[@i]" name="AnswersConformity[@i]" rows="2">@ViewBag.Answers[i]</textarea>
                            }
                            else
                            {
                                <textarea cols="20" id="AnswersConformity[@i]" name="AnswersConformity[@i]" rows="2"></textarea>
                            }
                        </div>
                    </div>
                    <div class="col-2"><span class="equals">=</span></div>
                    <div class="col-5">
                        <div class="row">
                            @if (ViewBag.Answers != null && ViewBag.Answers[i + 4] != null)
                            {
                                <textarea cols="20" id="AnswersConformity[@(i+4)]" name="AnswersConformity[@(i+4)]" rows="2">@ViewBag.Answers[i + 4]</textarea>
                            }
                            else
                            {
                                <textarea cols="20" id="AnswersConformity[@(i+4)]" name="AnswersConformity[@(i+4)]" rows="2"></textarea>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="row left">
            @Html.Partial("LaTex")
        </div>
        <div class="row">
            <input type="submit" value="Сохранить" class="button" />
        </div>
    </div>
}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $("#formula_text").on("change input paste keyup", function () {
            formula_refresh();
        });
        function formula_text_insert(value) {
            $("#formula_text").val($("#formula_text").val() + value);
            formula_refresh();
        };
        function formula_refresh() {
            $("#formula").html("$$" + $("#formula_text").val() + "$$");
            if ($("#L1").prop("checked")) {
                $("#formula_text_copy").html("$$" + $("#formula_text").val() + "$$");
            }
            else {
                $("#formula_text_copy").html("\\(" + $("#formula_text").val() + "\\)");
            }
            $('[name=TypeLatex]').change(function () {
                if ($("#L1").prop("checked")) {
                    $("#formula_text_copy").html("$$" + $("#formula_text").val() + "$$");
                }
                else {
                    $("#formula_text_copy").html("\\(" + $("#formula_text").val() + "\\)");
                }
            });
            if ($("#formula_text").val() == "") {
                $("#formula_text_copy").html("&nbsp;");
                $("#formula").empty();
            }
            MathJax.Hub.Queue(['Typeset', MathJax.Hub, 'formula']);
        }
    </script>
}