@model PagedList.IPagedList<FireTest.Models.SubjectAccess>
@using PagedList.Mvc;
@using (Ajax.BeginForm("EditNewAjax", new AjaxOptions
{
    HttpMethod = "Get",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "QuestionsNew",
}))
{
    if (ViewBag.Submit == true)
    {
        <script>
            $('#form0').submit();
        </script>
    }
    @Html.Hidden("page", (int)ViewBag.page)
    <div class="row textback center">Остальные вопросы</div>
    <br />
    <div class="row">
        <div class="col-2">Дисциплина</div>
        <div class="col-10">
            @Html.DropDownList("Subjects", ViewBag.Subjects as SelectList, new { @onchange = "$(this.form).submit();" })
        </div>
    </div>
    <div class="row">
        <div class="col-2">Название раздела</div>
        <div class="col-10">
            @Html.DropDownList("Tags", ViewBag.Tags as SelectList, new { @onchange = "$(this.form).submit();" })
        </div>
    </div>
    <div class="row">
        <h3>Поиск<span class="search"></span><input id="SearchStringNew" name="SearchString" type="text" value="@ViewBag.CurrentFilter"></h3>
    </div>
    <div class="row">
        <table>
            <tr>
                <th>
                    Вопросы
                </th>
                <th>
                    В тесте?
                </th>
            </tr>

            @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td class="center" width="15%">
                        <div class="No">
                            <button type="submit" value="@item.Id" name="submitButton"></button>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
    <div>
        Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("EditNewAjax",
        new { page, currentFilter = ViewBag.CurrentFilter, Tags = Session["Tags"], Subjects = Session["Subjects"] }),
        PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "QuestionsNew" }))
    </div>
    <script>
        (function ($) {
            $.fn.setCursorToTextEnd = function () {
                var $initialVal = this.val();
                this.val($initialVal);
            };
        })(jQuery);
        $('#SearchStringNew').focus();
        $('#SearchStringNew').setCursorToTextEnd();
        $('#SearchStringNew').keyup(function () {
            $('#form1').submit();
        });
    </script>
}