@model PagedList.IPagedList<FireTest.Models.SubjectAccess>
@using PagedList.Mvc;
@using (Ajax.BeginForm("EditOldAjax", null, new AjaxOptions
{
    HttpMethod = "Get",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "QuestionsOld",
}, new { id = "Old" }))
{
    if (ViewBag.Submit == true)
    {
        <script>
            $('#New').submit();
        </script>
    }
    @Html.Hidden("page", (int)ViewBag.page)
    @Html.Hidden("currentFilter", (string)ViewBag.CurrentFilter)
    <div class="row">
        @Html.Raw(ViewBag.Count)
    </div>
    <div>
        Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("EditOldAjax",
        new { page, currentFilter = ViewBag.CurrentFilter }),
        PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "QuestionsOld" }))
    </div>
    <div class="row">
        <table>
            <tr>
                <th>
                    Вопросы
                </th>
                <th>
                    В тесте?
                </th>
            </tr>

            @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td class="center" width="15%">
                        <div class="Yes">
                            <button type="submit" value="@item.Id" name="submitButton"></button>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
    <div>
        Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("EditOldAjax",
        new { page, currentFilter = ViewBag.CurrentFilter }),
        PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "QuestionsOld" }))
    </div>
    <script>
        $('#NameTest').val('@ViewBag.NameTest');
    </script>
}