@model IEnumerable < FireTest.Models.TeacherTest >
@{
    ViewBag.Title = "Преподавательская";
}
@Styles.Render("~/Content/administrator")

<p class="text-success">@ViewBag.Message</p>
<div class="spoiler">
    <span class="headline">Запросы от студентов</span>
</div>
<div class="-closed">
    <div class="substrate" id="Issues">
        @{ Html.RenderAction("IndexIssues", new { Page = 1 }); }
    </div>
</div>
<div class="substrate">
    <div class="row"><h3>Создать тест по дисциплине</h3></div>
    <div class="row">Данный раздел позволяет выбрать вопросы из базы данных для создания теста по определенной дисциплине</div>
    <div class="row" id="Tests">
        <table>
            <tr>
                <th width="60%">
                    Созданные тестирования:
                </th>
                <th>
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameTest)
                        @{
                            int count = 0;
                            if (!string.IsNullOrEmpty(item.Questions) && item.Questions.Length != 0)
                            {
                                count = item.Questions.Split('|').Count();
                            }
                            <p>(Вопросов в тесте <span style="color:rgb(114, 191, 230);">@count</span>)</p>
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Подробности", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </table>
        <div class="row">
            <div class="col-4">
                <a href="CreateTest"><button class="button" style="width: 90%;">Создать тест</button></a>
            </div>
        </div>
    </div>
</div>
@if (ViewBag.Access)
{
    { Html.RenderAction("IndexQualification", "Teacher"); }
}
@{ Html.RenderAction("IndexExams", "Teacher"); }
<div class="substrate">
    <div class="row"><h3>База вопросов</h3></div>
    <div class="row">Добавляйте, удаляйте, редактируйте вопросы по дисциплинам</div>
    <div class="row">
        <div class="col-4">
            <a href="NewQuestion"><button class="button" style="width: 90%;">Создать новый вопрос</button></a>
        </div>
        <div class="col-4">
            <a href="EditQuestionSelect"><button class="button" style="width: 90%;">Отредактировать вопрос</button></a>
        </div>
        <div class="col-4">
            <a href="DeleteQuestionSelect"><button class="button" style="width: 90%;">Удалить вопрос</button></a>
        </div>
        <br />
        <br />
    </div>
</div>
@section scripts
{
    <script>
        MathJax.Hub.Queue(['Typeset', MathJax.Hub, 'question']);
    </script>
}