@model IEnumerable<FireTest.Models.Examination>
<div class="substrate">
    <div class="row"><h3>Заголовок</h3></div>
    <div class="row">Тут какой-то текст хотели</div>
    <div class="row" id="Tests">
        <table>
            <tr>
                <th width="50%">
                    Запланированные тестирования:
                </th>
                <th width="10%">Дата</th>
                <th>
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @String.Format("{0:dd.MM.yyyy}", item.Date)
                    </td>
                    <td>
                        @Html.ActionLink("Редактировать", "EditExams", new { id = item.Id }) |
                        @Html.ActionLink("Подробности", "DetailsExams", new { id = item.Id }) |
                        @Html.ActionLink("Удалить", "DeleteExams", new { id = item.Id })
                    </td>
                </tr>
            }
        </table>
        <br />
        <br />
        <div class="row">
            <a href="CreateExam" class="button">Запланировать тестирование</a>
        </div>
    </div>
</div>