@model IEnumerable < FireTest.Models.TeacherTest >
@{
    ViewBag.Title = "Преподавательская";
}
@Styles.Render("~/Content/administrator")
<div class="substrate">
    <div class="row"><h3>Заголовок</h3></div>    
    <div class="row">Тут какой-то текст хотели</div>
    <div class="row" id="Tests">
        <table>
            <tr>
                <th>
                    Созданные тестирования:
                </th>
                <th>
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td width="50%">
                        @Html.DisplayFor(modelItem => item.NameTest)
                    </td>
                    <td>
                        @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Подробности", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </table>
        <br />
        <br />
        <div class="row">
            <a href="CreateTest" class="button">Создать тест по дисциплине</a>
        </div>
    </div>
</div>
@{ Html.RenderAction("IndexExams", "Teacher"); }
<div class="substrate">
    <div class="row"><h3>База вопросов</h3></div>
    <div class="row">Тут какой-то текст хотели</div>
    <div class="row">
        <br />
        <br />
        <a href="NewQuestion" class="button">Создать новый вопрос</a>
        <a href="EditQuestionSelect" class="button">Отредактировать вопрос</a>
        <a href="DeleteQuestionSelect" class="button">Удалить вопрос</a>
        <br />
        <br />
    </div>
</div>