@model IEnumerable < FireTest.Models.TeacherTest >
@{
    ViewBag.Title = "Преподавательская";
}
@Styles.Render("~/Content/administrator")
<div class="substrate">
    <p class="text-success">@ViewBag.Message</p>
    <div class="row"><h3>Создать тест по дисциплине</h3></div>    
    <div class="row">Данный раздел позволяет выбрать вопросы из базы данных для создания теста по определенной дисциплине</div>
    <div class="row" id="Tests">
        <table>
            <tr>
                <th width="60%">
                    Созданные тестирования:
                </th>
                <th>
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameTest)
                    </td>
                    <td>
                        @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Подробности", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </table>
        <br />
        <br />
        <div class="row">
            <a href="CreateTest" class="button">Создать тест</a>
        </div>
    </div>
</div>
@{ Html.RenderAction("IndexExams", "Teacher"); }
<div class="substrate">
    <div class="row"><h3>База вопросов</h3></div>
    <div class="row">Добавляйте, удаляйте, редактируйте вопросы по дисциплинам</div>
    <div class="row">
        <br />
        <br />
        <div class="col-3 button"><a href="NewQuestion">Создать новый вопрос</a></div>
        <div class="col-3 button"><a href="EditQuestionSelect">Отредактировать вопрос</a></div> 
        <div class="col-3 button"><a href="DeleteQuestionSelect">Удалить вопрос</a></div>
        <br />
        <br />
    </div>
</div>