@model PagedList.IPagedList<FireTest.Models.Subject>
@using PagedList.Mvc;
@using (Ajax.BeginForm("SelectSubjectsAjax", new AjaxOptions
{
    HttpMethod = "Get",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "Subjects",
}))
{
    <div class="row">
        <div class="col-2">Название теста</div>
        <div class="col-10">
            @Html.TextArea("NameTest")
        </div>
    </div>
    <div class="row">
        <div class="col-4">Дисциплина</div>
        <div class="col-8">
            @Html.DropDownList("Subjects", ViewBag.Subjects as SelectList, new { @onchange = "$(this.form).submit();" })
        </div>
    </div>
    <div class="row">
        <h3>Поиск<span class="search"></span><input id="SearchString" name="SearchString" type="text" value="@ViewBag.CurrentFilter"></h3>
    </div>
    <div class="row">
        <table>
            <tr>
                <th>
                    Дисциплины
                </th>
            </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a href="SelectTag/@item.Id" name="Subject">@item.Name</a>
                        </td>
                    </tr>
                }
            
        </table>
    </div>
    <div>
        Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("SelectSubjectsAjax",
        new { page, currentFilter = ViewBag.CurrentFilter }),
        PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "Subjects" }))
    </div>
    <script>
        (function ($) {
            $.fn.setCursorToTextEnd = function () {
                var $initialVal = this.val();
                this.val($initialVal);
            };
        })(jQuery);
        $('#SearchString').focus();
        $('#SearchString').setCursorToTextEnd();
        $('#SearchString').keyup(function () {
            $(this.form).submit();
        });
    </script>
}