@model FireTest.Models.IndexViewModel
@using (Html.BeginForm("Edit", "Manage", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        @Html.LabelFor(m => m.Name, new { @class = "col-4" })
        <div class="col-8">
            @Html.TextBoxFor(m => m.Name)
            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.SubName, new { @class = "col-4" })
        <div class="col-8">
            @Html.TextBoxFor(m => m.SubName)
            @Html.ValidationMessageFor(m => m.SubName, "", new { @class = "text-danger" })
        </div>
    </div>
        <div class="row">
            @Html.LabelFor(m => m.Family, new { @class = "col-4" })
            <div class="col-8">
                @Html.TextBoxFor(m => m.Family)
                @Html.ValidationMessageFor(m => m.Family, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            @Html.LabelFor(m => m.Year, new { @class = "col-4" })
            <div class="col-8">
                @Html.TextBoxFor(m => m.Year)
                @Html.ValidationMessageFor(m => m.Year, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            @Html.LabelFor(m => m.Group, new { @class = "col-4" })
            <div class="col-8">
                @Html.TextBoxFor(m => m.Group)
                @Html.ValidationMessageFor(m => m.Group, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <input type="submit" class="btn btn-default" value="Сохранить" />
        </div>
}