@model FireTest.Models.Questions
@{
    ViewBag.Title = "Тест по квалификации - \"" + ViewBag.DisciplineName + "\"";
}
<div id="loadingIndicator" style="display:none;">
    <div class="container">
        <div class="wheel"></div>
    </div>
    <h3 class="center">Загрузка</h3>
</div>
@using (Ajax.BeginForm("DisciplineTestQuestions", new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "question",
    LoadingElementId = "loadingIndicator",
}))
{
    @Html.AntiForgeryToken()
    <div id="question">
        <div class="row"><h3>Вопрос №@ViewBag.Number из @ViewBag.Count</h3></div>
        <div class="row"><h3>@Model.QuestionText</h3></div>
        @if (@Model.QuestionImage != null)
        {
            <br />
            <div class="questionImage">
                <img src="@Model.QuestionImage">
                <p>Для просмотра изображения нажмите на него</p>
            </div>
            <br />
        }
        <div class="row answers">
            @if (ViewBag.TypeQuestion == "standart")
            {
                <div class="center textback noselect">@ViewBag.Multiple</div>
                foreach (var item in Model.QuestionAnswers)
                {
                    <fieldset class="standart">
                        <input id="@item.AnswerId" type="checkbox" name="AnswersIDs" value="@item.AnswerId" />
                        <label for="@item.AnswerId">
                            <span>
                                @Html.DisplayFor(modelItem => item.AnswerText)
                            </span>
                        </label>
                    </fieldset>
                }
            }
            @if (ViewBag.TypeQuestion == "sequence")
            {
                <div class="center textback noselect">Зажмите левой кнопкой мыши строчку и перетащите</div>
                <ul class="sortable">
                    @foreach (var item in Model.QuestionAnswers)
                    {
                        <li>
                            <fieldset class="sequence">
                                <input id="@item.AnswerId" type="checkbox" name="AnswersIDs" value="@item.AnswerId" checked="checked" />
                                <label for="@item.AnswerId">
                                    <span>
                                        @Html.DisplayFor(modelItem => item.AnswerText)
                                    </span>
                                </label>
                            </fieldset>
                        </li>
                    }
                </ul>
            }
            @if (ViewBag.TypeQuestion == "conformity")
            {
                int step = Model.QuestionAnswers.Count() / 2;
                <div class="center textback noselect">Зажмите левой кнопкой мыши строчку из левого столбца и перетащите</div>
                <div class="col-6">
                    <ol class="sortable" id="left">
                        @for (int i = 0; i < step; i++)
                        {
                            <li>
                                <fieldset class="conformity">
                                    <input id="@Model.QuestionAnswers[i].AnswerId" type="checkbox" name="AnswersIDs" value="@Model.QuestionAnswers[i].AnswerId" checked="checked" />
                                    <label for="@Model.QuestionAnswers[i].AnswerId">
                                        <span>
                                            @Html.DisplayFor(modelItem => Model.QuestionAnswers[i].AnswerText)
                                        </span>
                                    </label>
                                </fieldset>
                            </li>
                        }
                    </ol>
                </div>
                <div class="col-offset-6">
                    <ol class="unsortable" id="right">
                        @for (int i = step; i < step * 2; i++)
                        {
                            <li>
                                <fieldset>
                                    <input id="@Model.QuestionAnswers[i].AnswerId" type="checkbox" name="AnswersIDs" value="@Model.QuestionAnswers[i].AnswerId" checked="checked" />
                                    <label for="@Model.QuestionAnswers[i].AnswerId" name="AnswersIDs">
                                        <span>
                                            @Html.DisplayFor(modelItem => Model.QuestionAnswers[i].AnswerText)
                                        </span>
                                    </label>
                                </fieldset>
                            </li>
                        }
                    </ol>
                </div>
            }
        </div>
        <input type="submit" class="button center" value="Ответить" id="Answer" />
    </div>
}
@section scripts
{
    <script>
        MathJax.Hub.Queue(['Typeset', MathJax.Hub, 'question']);
        $('.questionImage img').zoomify();
        $(".sortable").sortable(height());
        $('.sortable').on('mousemove', function () {
            height();
        })
        function height() {
            $("#left > li").eq(0).outerHeight($('#right > li').eq(0).height() + 12);
            $("#left > li").eq(1).outerHeight($('#right > li').eq(1).height() + 12);
            $("#left > li").eq(2).outerHeight($('#right > li').eq(2).height() + 12);
            $("#left > li").eq(3).outerHeight($('#right > li').eq(3).height() + 12);
        };
    </script>
}